@import '../base';

.login-id-container {
  max-height: 100vh;
  overflow: auto;
}

.alternate-connections {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    button {
      @include federated-button;
    }
}

.links {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  
    a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
}